In [1]:
import pandas as pd

data = pd.read_csv('titanic.csv')
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
#Check for missing values
print(data.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
#Summary Statistics
print(data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [4]:
#Fill in the missing values - Age with Meidan Age
data['Age'].fillna(data['Age'].median(), inplace=True)

#Embarked with most frequent value
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

C:\Users\TAZ78\AppData\Local\Temp\ipykernel_27520\2655370434.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].median(), inplace=True)
C:\Users\TAZ78\AppData\Local\Temp\ipykernel_27520\2655370434.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

In [5]:
#Drop rows with missing targets (Optional)
#data.dropna(subset=['Survived'], inplace=True)

In [7]:
#Scaling Numerical Data
from sklearn.preprocessing import StandardScaler

#Define Numerical columns
numerical_cols = ['Age', 'Fare']

#Initialize Scaler
scaler = StandardScaler()

#Scale Features
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])

In [8]:
#Encode Categorical Variables - Yes/No Data
data=pd.get_dummies(data, columns = ['Sex', 'Embarked'], drop_first=True)

In [9]:
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name       Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris -0.565736      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  0.663861      1      0
2                             Heikkinen, Miss. Laina -0.258337      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  0.433312      1      0
4                           Allen, Mr. William Henry  0.433312      0      0

             Ticket      Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171 -0.502445   NaN      True       False        True
1          PC 17599  0.786845   C85     False       False       False
2  STON/O2. 3101282 -0.488854   NaN     False       False        True
3            113803  0.420730  C123     False       False        True
4            373450 -0.486337   NaN      True       False        True

In [10]:
X = data.drop('Survived', axis=1)
y=data['Survived']

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training Set Size: {X_train.shape}")
print(f"Testing Set Size: {X_test.shape}")

Training Set Size: (712, 12)
Testing Set Size: (179, 12)